{% extends "base/base.html" %}

{% block nav_button %}
<a class="btn btn-outline-success" href="{% url 'libro:function_create' %}">Agregar</a>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Titulo</td>
                <td>Autores</td>
                <td>Editor</td>
                <td>Fecha Publicacion</td>
                <td>Portada</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>
                    <ul>
                        {% for autor in libro.autores.all %}
                        <li>{{ autor.nombre }} {{ autor.apellidos }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ libro.editor.nombre }}</td>
                <td>{{ libro.fecha_publicacion }}</td>
                <td><img src="{{ libro.portada.url }}" class="img-fluid" style="max-width: 120px;"></td>
                <td>
                    <a href="{% url 'libro:function_update' libro.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'libro:function_delete' libro.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}